.background-images{
    background-image: url("https://img.freepik.com/free-photo/chicken-salad-with-vegetables-potato-chips-plate_140725-9207.jpg?size=626&ext=jpg&ga=GA1.1.867597282.1702297170&semt=ais");
    background-size: cover;
   
   

}
.text-col{
    color: orange;
}